body {
    padding-top: 50px;
    background-color: #EDF2F5;
    overflow: auto;
}

.bg-ruby {
    background-color: #7B2324;
}

.bg-red {
    background-color: #E21E25;
}

.btn-red {
    color: white;
    background-color: #E21E35;
}

.text-white {
    color: white;
}

.btn-red:hover,
.btn-red:focus {
    color: white;
    background-color: #EC4D57;
}

/* SIDE BAR */

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: #7B2324;
    overflow: auto;
}

.sidebar > div:first-child {
    padding: 30px 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #3F1E1E;
}

.sidebar > div:first-child {
    color: #e0deeb;
}

.sidebar > div:first-child > h5 {
    color: #ffffff;
}

/* SIDE BAR - MENU */
.sidebar .list-group {
    padding-top: 0;
    background-color: #7B2324;
}

.sidebar .list-group > span {
    color: white;
    display: block;
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 300;
}


.sidebar .list-group .list-group-item,
.sidebar .list-group .list-group:focus {
    background-color: #7B2324;
    color: white;
    border: 0;
    padding-left: 60px;
    padding-right: 30px;
}

.sidebar .list-group .list-group-item.active,
.sidebar .list-group .list-group-item:hover {
    background-color: #3F1E1E;
    color: #e0deeb;
}

.sidebar .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sidebar .list-group .list-group-item .badge,
.sidebar .list-group .list-group-item.active .badge {
    background-color: #E31E25;
    color: #e0deeb;
}

/* SIDE BAR - LOGOUT */
.sidebar > div:last-child {
    padding: 30px;
}

.sidebar > div:last-child .btn {
    width: 100%;
}

/* SIDE BAR - CONTENT */

.content {
    padding: 0 40px;
}

.content .panel {
    border: none;
}

.table > thead > tr > th,
.table > thead > tr > td {
    vertical-align: middle;
}

.table,
.table > thead > tr > th {
    border-color: #E31E25;
}

