{% extends 'base.html' %}

{% block title %}Пицария{% endblock %}
{% block sidebar %}
    {% url "pizzashop-pizza"  as pizzashop_pizza %}
    {% url "pizzashop-account"  as pizzashop_account %}
    <div class="text-center">
        <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.pizzashop.logo }}" alt="" width="70" height="70">
        <br/>
        <br/>
        <h4>Приветствую, {{ request.user.get_full_name }}</h4>
        <h5>{{ request.user.pizzashop.name }}</h5>
    </div>
    <div class="list-group">
        <span class="text-uppercase">Панель</span>
        <a href="{% url "pizzashop-pizza" %}"
           class="list-group-item {% if request.path == pizzashop_pizza %} active {% endif %}">Пиццы</a>

        <span class="text-uppercase">Профиль</span>
        <a href="{% url "pizzashop-account" %}"
           class="list-group-item {% if request.path == pizzashop_account %} active {% endif %}">Профиль</a>
    </div>
    <div class="text-center">
        <a href="{% url 'pizzashop/sign-out' %}?next={{ request.path }}" class="btn btn-red">Выход</a>
    </div>
{% endblock %}