{% extends 'pizzashopapp/base.html' %}

{% block page %}
    <div class="panel">
        <div class="panel-heading bg-ruby">
            <h4 class="panel-title text-center text-white">
                Пиццы
            </h4>
        </div>
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url "pizzashop-add-pizza" %}" class="btn btn-red">Добавить пиццы</a>
                <br/>
                <br/>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr class="bg-red text-white">
                    <th>ID</th>
                    <th>Название</th>
                    <th>Короткое описание</th>
                    <th>Цена</th>
                    <th class="text-center">Изоброжение</th>
                </tr>
                </thead>
                <tbody>
                {% for pizza in pizzas %}
                    <tr>
                        <td scope="row">{{ pizza.id }}</td>
                        <td><a href="{% url "pizzashop-edit-pizza" pizza.id %}">{{ pizza.name }}</a></td>
                        <td>{{ pizza.short_descriptions }}</td>
                        <td>{{ pizza.price }}</td>
                        <td class=" text-center
                        "><img src="{{ MEDIA_URL }}{{ pizza.image }}" class="img-rounded"
                               width="70" height="70"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}