{% extends 'pizzashopapp/base.html' %}
{% load bootstrap3 %}
{% block page %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel">
            <div class="panel-heading bg-ruby">
                <h2 class="panel-title text-center text-white">
                    Коректировать пиццы
                </h2>
            </div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-red">Обновить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}