{% extends "base_sign_up.html" %}
{% load bootstrap3 %}
{% block title %}Войти{% endblock %}
{% block heading %}Стрвница пиццария входа{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-red pull-right">Вход</button>
    </form>
    <a href="{% url 'pizzashop-sign-up' %}">Зарегистрировать Пиццарию</a>
{% endblock %}
