{% extends 'base_sign_up.html' %}
{% load bootstrap3 %}
{% block title %}Регистратция{% endblock %}
{% block heading %}Регистрировать - Страница пиццерий{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Владелец</h2>
        {% bootstrap_form user_form %}
        <h2>Пиццерия</h2>
        {% bootstrap_form pizzashop_form %}
        <button type="submit" class="btn btn-red pull-right">Регистрировать</button>
    </form>
    <a href="{% url 'pizzashop-sign-in' %}">У вас есть профиль?</a>
{% endblock %}