{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body class="bg-ruby">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <br/>
            <br/>
            <br/>
            <div class="panel panel-body">
                <div class="panel-body">
                    <h3 class="text-center text-uppercase"><b>{% block heading %}{% endblock %}</b></h3>
                    <br/>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>